.main-story-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A1A1A;
}

.story-container-header {
    margin: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.story-container-header > img {
    max-width: 8%;
}

.story-container {
    position: absolute;
    top: 1rem;
    left: 5%;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 96%;
}

.story-active {
    width: 30vw;
    background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.story-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-header {
    margin: 1.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

.story-header > img {
    max-width: 8%;
    border-radius: 50%;
    object-fit: cover;
}

.story-header > #time {
    color: #fff;
    opacity: 60%;
}

.story-footer {
    margin: 1rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.story-footer > input {
    border: 1px solid white;
    background-color: transparent;
    width: 85%;
    border-radius: 99px;
    padding: 0.8rem 1.2rem;
    color: white;
}

.story-footer > input::placeholder {
    color: white;
}

.story-footer > input:focus {
    outline: none;
}

#heart, #cancelStory {
    cursor: pointer;
}